MYSQLDB_LOCAL_PORT=YOUR_MYSQL_LOCAL_PORT
MYSQLDB_DOCKER_PORT=YOUR_MYSQL_DOCKER_PORT

SPRING_LOCAL_PORT=YOUR_SPRING_LOCAL_PORT
SPRING_DOCKER_PORT=YOUR_SPRING_DOCKER_PORT

DEBUG_PORT=YOUR_DEBUG_PORT

MYSQLDB_DATABASE=YOUR_DATABASE
MYSQLDB_USER=YOUR_DB_USER
MYSQLDB_ROOT_PASSWORD=YOUR_ROOT_DB_PASSWORD
MYSQLDB_PASSWORD=YOUR_USER_DB_PASSWORD

JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY
JWT_EXPIRATION=YOUR_JWT_EXPIRATION_TIME